html
{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Source Sans Pro', san-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

header{
  width: 100%;
  background-color: #ffffff;
  margin: 0px 0px 10px 0px;
  padding: 0;
  top:0;
  text-align: center;
}

h1 {
  font-size: 50px;

}

.container {
  margin-left: 20%;
  margin-right: 20%;

}

#main {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  background-color: #fff;
  height: 100%;
  padding: 10px;
}
